/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --subtitle-color: #000;
  --title-color: #DB00FF;
  --background-color: #FF0070;
  --accent-color: #FF0070;
  --text-color:  #F1B2CE;
  --shadow: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root .theme_auto {
    --subtitle-color: #000;
    --title-color: #DB00FF;
    --background-color: #FF0070;
    --accent-color: #FF0070;
    --text-color:  #F1B2CE;
    --shadow: #FF0070;
    --background-image: url("../images/cover-image-dark.png");
  }
}
