/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: #000028;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--background-image);
}

.content {
  margin-block: 20px;
  margin-inline: 20px;
}

/* header */

.header {
  padding-inline-end: 20px;
  padding-block-start: 20px;
  block-size: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 0.95fr min-content;
  align-items: baseline;
}

.decorated-zone::before {
  content: "";
  top: 20px;
  right: 20px;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--button-border-color, #ff0070);
  border-right: 1px solid var(--button-border-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--button-border-color, #ff0070);
  border-left: 1px solid var(--button-border-color, #ff0070);
}

.header__theme-menu-content {
  display: grid;
  grid-template-columns: 1.67fr 1fr;
  justify-items: end;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--header-nav, #ff0070);
  block-size: 26px;
  padding: 0px 13px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: solid 1px  var(--button-border-hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--header-nav);
}

.header__theme-menu-decor {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--button-border-color, #ff0070);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-inline-end: 9px;
}

.header__theme-menu-decor samp::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--button-border-color, #ff0070);
  box-shadow: 0px 0px 4px var(--button-border-color, #ff0070);
  border-radius: 50%;
}

.header__title {
  display: grid;
  color: var(--header__title-color, #db00ff);
  text-shadow: 4px 4px 0px var(--header__title-text-shadow, #ff0070);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
  align-self: center;
}

.header__section-text {
  display: grid;
  justify-content: end;
  padding-block-start: 113px;
}

.header__text_focus {
  max-inline-size: 490px;
  color: var(--text-focus-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
  background-color: var(--background-focus-text, #ff0070);
}

/* main */

.main {
  display: grid;
  grid-row-gap: 40px;
}

.focus {
  margin-block-start: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 11px;
}

.title {
  color: var(--header-nav, #ff0070);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
}

.focus__list {
  display: grid;
  gap: 20px;
  flex-direction: column;
}

.list__title {
  color: var(--list__title-color, #000028);
  background-color: var(--background-focus-text, #ff0070);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
  margin-block-end: 10px;
}

.list__text {
  color: var(--list__text-color, #f1b2ce);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
}

.list-link {
  color: var(--list__text-color, #f1b2ce);
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-text-shadow, #ff0070);
}

.list-link:hover {
  border-block-end: 1px solid var(--list__text-color, #f1b2ce);
}

.list-link:focus {
  border: 1px solid var(--list__text-color, #f1b2ce);
}

.concentration__title {
  margin-block-end: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.concentration__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
}

.advice {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 11px;
}

.advice__list {
  display: grid;
  gap: 20px;
}

.list__title-top {
  font-weight: 700;
  margin-block-end: 19px;
}

.pictures {
  margin-block-end: 60px;
}

.pictures__img-collection {
  display: grid;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  grid-gap: 20px;
}

.pictures__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

/* footer */

.footer {
  height: 100vh;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--header__title-color, #db00ff);
  text-shadow: 2px 2px 0px var(--header__title-text-shadow, #ff0070);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

/* media запросы */

@media (width < 768px) and (width >= 375px)  {
  .header {
    min-block-size: 100vh;
  }

  .header__theme-menu-content {
    grid-template-rows: 1.6fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 14px;
    padding-inline-end: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu-decor {
    grid-row-start: 1;
    align-items: baseline;
  }

  .header__theme-menu {
    grid-row-start: 2;
  }

  .header__text_focus {
    max-inline-size: 364px;
  }

  .header__section-text {
    padding-block-start: 166px;
  }

  .focus {
    gap: 20px;
  }

  .whconcentration__title {
    grid-template-columns: 0fr 1fr 1fr;
  }

  .concentration__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .advice {
    gap: 20px;
  }

  .footer {
    min-block-size: 100px;
  }
}

@media (width < 768px) and (width >= 375px)  {

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
  
  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
  
  .header {
    min-block-size: 100vh;
    padding-inline-end: 10px;
    padding-block-start: 10px;
  }

  .content {
    margin-block: 10px;
    margin-inline: 10px;
  }

  .header__theme-menu-content {
    grid-template-rows: 1fr 2fr;
    align-items: start;
    padding-inline-end: 5px;
  }

  .header__section-text {
    padding-block-start: 53px;
  }

  .header__title {
    padding-inline-start: 10px;
  }

  .header__text_focus {
    max-inline-size: 360px;
}

  .main {
    margin-block-start: 30px;
    grid-row-gap: 30px;
    margin-block-end: 32px;
  }

  .focus {
    grid-template-columns: 1fr;
  }

  .concentration__title {
    display: block;
  }

  .hadvice {
    grid-template-columns: 1fr;
    margin-block-start: 10px;
  }

  .pictures__img-collection {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

}