/*
  Переменные для проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono", monospace;
  --button-border-hover: rgba(50, 49, 45, 0.4); 
  --main-text-color: #353430;
  --section-title-color: var(--main-text-color); 
  --article-title-color: var(--background-color);
  --section-title-color: var(--title-shadow);
}



